In [21]:
import pandas as pd

# set files path
donne1 = '2_3.1_CapteurC45BBE386952_65m.csv'
donne2 = '3.1_CapteurC45BBE386952_65m.csv'
donne3="test.csv.csv"
print("*** Merging multiple csv files into a single pandas dataframe ***")

# merge files
dataFrame = pd.concat(
   map(pd.read_csv, [donne1, donne2]),ignore_index=True)

dataFrame.to_csv('test.csv'+'.csv', index=False)

*** Merging multiple csv files into a single pandas dataframe ***

In [26]:
df=pd.read_csv(donne3,index_col=False)

In [25]:
df

,Unnamed: 0,60.0,61.0,62.0,63.0,64.0,65.0,66.0,67.0,68.0,...,82.0,83.0,84.0,85.0,86.0,87.0,88.0,89.0,90.0,76.0
0,NaN,-71,-73,-70,-78,-66,-51,-53,-74,-60,...,-79.0,-80.0,NaN,-75.0,-78.0,-79.0,-80.0,-79.0,NaN,NaN
1,NaN,-78,-71,-67,-59,-69,-50,-57,-71,-63,...,-80.0,-80.0,NaN,-79.0,NaN,NaN,-79.0,NaN,NaN,NaN
2,NaN,-79,-58,-61,-60,-63,-51,-62,-67,-64,...,NaN,NaN,NaN,-80.0,NaN,NaN,-78.0,NaN,NaN,NaN
3,NaN,-74,-79,-57,-59,-62,-53,-62,-61,-68,...,NaN,NaN,NaN,-80.0,NaN,NaN,-79.0,NaN,NaN,NaN
4,NaN,-73,-71,-57,-58,-63,-47,-65,-65,-59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,-71,-69,-69,-57,-58,-47,-61,-57,-61,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,-70,-74,-60,-63,-58,-57,-56,-60,-67,...,NaN,-79.0,-79.0,-79.0,-80.0,-79.0,-80.0,-79.0,NaN,-75.0
7,NaN,-69,-61,-63,-57,-58,-52,-53,-57,-74,...,NaN,NaN,-80.0,-79.0,-79.0,NaN,-78.0,NaN,NaN,-78.0
8,NaN,-72,-57,-66,-63,-58,-51,-51,-57,-62,...,NaN,NaN,-79.0,-80.0,NaN,NaN,NaN,NaN,NaN,-79.0
9,NaN,-70,-68,-64,-60,-55,-54,-53,-57,-70,...,NaN,NaN,NaN,-77.0,NaN,NaN,NaN,NaN,NaN,-78.0
10,NaN,-71,-70,-65,-59,-62,-50,-57,-55,-71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-78.0
11,NaN,-71,-70,-67,-61,-61,-51,-51,-58,-78,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-77.0